.bullet__item--title {
    color: black;
    font-weight: bold;
}

.bullet__item, .bullet__item--image {
    background-color: #eceff1;
    width: 150px;
    min-width: 150px;
}

.bullet__item--link {
    display: block;
}