
/* * INFO CARD 3 */

.infoCardContainer--home__section--two {
    margin-top: 5px;
    height: 550px;
    background-color: #EDD4E6;
}

.infoCardCallActionText--home__section--two {
    color: black;
}

.infoCardCallActionText--home__section--two:hover {
    color: white;
    background-color: black;
    text-decoration: black;
}

.infoCardHeadline--home__section--two {
    color: black;
}

.infoCardSubhead--home__section--two {
    font-size: medium;
    color: black;
}

.infoCardImage--home__section--two {
    width: 100%;
}

.vtex-rich-text-0-x-container--text__trend :global(.vtex-rich-text-0-x-heading--text__trend){
    color: red
}

.sliderTrack--home__slider {
    padding: 3px;
}

/* .imageElement--slider--one, .imageElement--slider--two, .imageElement--slider--three, .imageElement--slider--four, .imageElement--slider--five {
    height: 350px;
    margin-bottom: 0;
} */

.infoCardImageContainer--home__section--one {
    width: 100%;
}

.infoCardHeadline--home__section--one {
    font-weight: bold;
    color: black;
}

.infoCardSubhead--home__section--one {
    font-weight: bold;
    font-size: 17px;
    color: black;
}

.infoCardContainer--home__section--one {
    background-color: #F2F0EC;
}

.infoCardCallActionText--home__section--one {
    color: black;
}

.infoCardCallActionText--home__section--one:hover {
    color: white;
    background-color: black;
    text-decoration: black;
}
