/* * INFO CARD 1 */

.infoCardContainer--info--one {
    height: 500px;
    margin-top: 3px;
    background-color: black;
}

.infoCardCallActionContainer--info--one :global(.vtex-button) {
    background-color: white;
    border-radius: 0;
}

.infoCardCallActionContainer--info--one :global(.vtex-button__label) {
    color: black;
}

.infoCardHeadline--info--one {
    font-size: medium;
    color: white;
}

.infoCardImage--info--one {
    height: 450px;
}

/* * INFO CARD 2 */

.infoCardContainer--info--two {
    height: 550px;
    background-color: black;
}

.infoCardCallActionText--info--two {
    color: white;
}

.infoCardHeadline--info--two {

    color: white;
}

.infoCardSubhead--info--two {
    font-size: medium;
    color: white;
}

.infoCardImage--info--two {
    height: 500px;
}

/* * INFO CARD 3 */

.infoCardContainer--info--three {
    margin-top: 5px;
    height: 550px;
    background-color: #f2bff4;
}

.infoCardCallActionText--info--three {
    color: black;
}

.infoCardHeadline--info--three {
    
    color: black;
}

.infoCardSubhead--info--three {
    font-size: medium;
    color: black;
}

.infoCardImage--info--three {
    height: 500px;
}

/* * INFO CARD 4 */

.infoCardContainer--info--four {
    padding: 20px;
    background-color:   rgba(205,92,92,1);
}

.infoCardCallActionText--info--four {
    color: white;
}

.infoCardHeadline--info--four {
    
    color: white;
}

.infoCardSubhead--info--four {
    font-size: medium;
    color: white;
}

.vtex-rich-text-0-x-container--text__trend :global(.vtex-rich-text-0-x-heading--text__trend){
    color: red
}

.sliderTrack--home__slider {
    padding: 3px;
}