.sliderLayoutContainer--home__slider {
    max-width: 1200px;
    margin: 0 auto 50px;
}

.paginationDotsContainer--home__slider {
    transform: translateY(30px);
}

.slideChildrenContainer--home__slider {
    margin-right: 5px;
}

.caretIcon--home__slider {
    background-color: white;
}

.bullet__item {
    background-color: #eceff1;
}

.bullet__item--link {
    display: block;
    width: 280px;
}

.bullet__item--title {
    margin: 20px 0px 20px 125px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.bullet__item--link {
    text-decoration: none;
}