/* * FOOTER RICH-TEXT */

.paragraph--desktop--bottom-1 {
    padding: 8px;
    color: #c8cbcc;
    font-size: 12px;
}

.paragraph--desktop--bottom-2 {
    margin-left: 100px;
    margin-bottom: 10px;
    color: #c8cbcc;
    font-size: 12px;
}

/* * FOOTER RICH-TEXT TOP */

.paragraph--desktop--top--one, 
.paragraph--desktop--top--two,
.paragraph--desktop--top--three,
.paragraph--desktop--top--four,
.paragraph--desktop--top--five,
.paragraph--desktop--top--six,
.paragraph--desktop--top--seven {
    color: black;
    font-weight: bold;
}

/* * FOOTER RICH-TEXT NEWSLETTER */

.paragraph--desktop--newsletter {
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 760px) {
    .paragraph--desktop--newsletter {
        margin: 15px 0px 2px 15px;
    }
}