.headerRowBackground--mobile__section--one {
    background-color: black;
    width: 100%;
    padding: 10px 0px 10px 0px;
    min-height: 40px;
    max-height: 40px;
}

.headerRowContainer--mobile__section--one {
    display: flex;
    justify-content: center;
}

.headerRowBackground--2-mobile {
    background-color: #fff;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.headerRowBackground--desktop__section--one {
    background-color: black;
    width: 100%;
    padding-top: 10px;
    min-height: 40px;
    max-height: 40px;
}

.headerRowContainer--desktop__section--one {
    display: flex;
    justify-content: center;
}

.headerRowBackground--desktop__section--two {
    background-color: #fff;
    height: 32px;
}

.headerRowBackground--desktop__section--threedesktop__section--three {
    background-color: #fff;
    height: 45px;
    margin-bottom: 4px;
}

.autoCompleteOuterContainer--search--desktop {
    border-radius: 0;
}
