@font-face {
    font-family: 'Adihaus';
    src: url(assets/fonts/AdihausDIN.woff2), url(assets/fonts/AdihausDIN.ttf);
    font-weight: bold;
  }

@font-face {
  font-family: 'Adihaus-bold';
  src: url(assets/fonts/AdiHausBold.woff2), url(assets/fonts/AdiHausBold.ttf);
  font-weight: bold;
}